@using Raci.Persistence;
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color: #F3F3F4">
    <div class="top-row px-4" style="z-index: 1; background-color: white">
        <AuthorizeView>
            <Authorized>
                <RadzenProfileMenu>
                    <Template>
                        <img src="@(_loggingUser.Avatar)" 
                             class="rounded-circle" 
                             width="36" 
                             height="36">
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Tài khoản" Path="profile" Icon="line_weight"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Đăng xuất" Path="log-out" Icon="account_circle"></RadzenProfileMenuItem>
                    </ChildContent>
                </RadzenProfileMenu>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [Inject]
    private LoggingUser _loggingUser { get; set; }
}
