@page "/home"
@attribute [Authorize]



<AuthorizeView>
    <Authorized>
        <h1>Chào mừng bạn đến hệ thống Alan Coffee!</h1>
    </Authorized>
    <NotAuthorized>
        You must login!
    </NotAuthorized>
</AuthorizeView>
