@page "/role-permission"

@attribute [Authorize]

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">

        </div>
    </div>
</div>