@page "/role-permission"

@attribute [Authorize]

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <RadzenCard Style="width:100%;">
                <Raci.Web.BlazorServer.Shared.Components.RoleSelector />
            </RadzenCard>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
</div>