@inherits LayoutComponentBase

<style>
    .main {
        background-image: url('images/coffee-shop-bg.jpg');
        height: 100vh;
    }
</style>

<div class="main">
    <div class="container-fluid">
        @Body
    </div>
</div>
