@*@page "/profile"

@attribute [Authorize]

@inherits DetailPageBase

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/data-view/item">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Thông tin cá nhân">
                        <RadzenFieldset Text="Thông tin chung">
                            <div class="row">
                                <h1>Hello</h1>
                            </div>
                        </RadzenFieldset>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </div>
    </div>
</div>*@